<style>
.active{
    color: green
}
</style>
<header>
    <nav>
        <a href="/" class={{#if home}} active {{/if}}> Home </a>
        <a href="/saved" class={{#if saved}} active {{/if}}> Saved</a>
    </nav>
</header>